@model WarehouseWebApp.Models.PodsumowanieZamowieniaViewModel
@{
    ViewData["Title"] = "SzczegolyZamowienia";
}

<h2>Podsumowanie zamówienia </h2>
<center>
    @{
        var calkowita_liczba_produktow = 0;
        var Laczna_kwota_zamowienia = 0.0;
        var zamowienie = Model.Zamowienia;
        var listaProduktow = Model.Produkty;
        var szczegolyZamowienia = Model.Lista;
        int i = 0;
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nazwa produktu</th>
                <th scope="col">Cena detaliczna</th>
                <th scope="col">Stan magazynowy</th>
                <th scope="col">Liczba szt w zamówieniu</th>
                <th scope="col">Kwota zamówienia</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produkt in listaProduktow)
            {
                i++;
             <tr>
                <th scope="row">@i</th>
                <td>@produkt.Name.ToString()</td>
                <td>@produkt.Price.ToString()</td>
                <td>@produkt.Count.ToString()</td>

                @{var iloscSztuk = 0;
                    var cenalacznaproduktu = 0.0;

                    foreach (var item in szczegolyZamowienia)
                    {
                        if (item.ProductId == produkt.Id)
                        {
                            iloscSztuk = item.LiczbaSztuk;
                            calkowita_liczba_produktow += iloscSztuk;
                            <td> @iloscSztuk</td>

                            cenalacznaproduktu = produkt.Price * iloscSztuk;
                            Laczna_kwota_zamowienia += cenalacznaproduktu;
                            <td> @cenalacznaproduktu</td>
                        }
                    }
                }
             </tr>
                    }
             
            </tbody>
        </table>
                    }
        <br />
    <table class="table">
        <thead>
            <tr>
                <th>Całkowita ilość produktów</th>
                <th>Łączna kwota zamówienia</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@calkowita_liczba_produktow</td>
                <td>@Laczna_kwota_zamowienia</td>
            </tr>
        </tbody>
    </table>
        @{/* @ViewBag.idZamowienia
            @ViewBag.IdZamowienia */}
        
            <a asp-action="Index" asp-controller="Faktura" asp-route-idZamowienia="@ViewBag.IdZamowienia" class="btn btn-sm btn-success">
            Wystaw Fakturę
        </a>

    </center>
