@model IEnumerable<WarehouseWebApp.Models.Products>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista Wszystkich Produktów</title>
</head>
<body>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SerialNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Count)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VAT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    Data Dostawy
                </th>
                <th>Kategoria</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SerialNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VAT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipmenDate)
                    </td>
                    <td>
                        @{
                            List<Kategorie> Kategorie = ViewBag.Kategorie;
                        }
                        @{
                            if (item.KategorieId != null)
                            {
                                foreach (var typ in Kategorie)
                                {
                                    if (typ.Id == item.KategorieId)
                                    {
                                        <text> @typ.Name.ToString() </text>
                                    }
                                }
                            }
                        }
                    </td>
                    <td>
                        <a asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id">usuń</a> |
                        <a asp-controller="Product" asp-action="Edit" asp-route-Id="@item.Id">Edytuj </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
