@model IEnumerable<WarehouseWebApp.Models.Products>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Produkty od dnia : @ViewBag.dataStart do dnia @ViewBag.dataKoniec </title>
</head>
<body>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SerialNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Count)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VAT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    Data Dostawy
                </th>
                <th>Kategoria</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SerialNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VAT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipmenDate)
                    </td>
                    <td>
                        @{
                            List<Kategorie> Kategorie = ViewBag.Kategorie;
                        }
                        @{
                            if (item.KategorieId != null)
                            {
                                foreach (var typ in Kategorie)
                                {
                                    if (typ.Id == item.KategorieId)
                                    {
                                        <text> @typ.Name.ToString() </text>
                                    }
                                }
                            }
                        }
                    </td>
                    <td>
                        <a asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id">usuń</a> |
                        <a asp-controller="Product" asp-action="Edit" asp-route-Id="@item.Id">Edytuj </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <br />

    @if (ViewBag.dataStart != null)
    {
    <table class="table">
        <thead>
            <tr>
                <th  colspan="3">Podsumowanie</th>
            </tr>
            </thead>
        <tbody>
            <tr>
                <td> Wszystkich Elelemtów </td>
                <td> Liczba pozycji: @Model.Count() </td>
                <td> Wartość całk. = @ViewBag.SumaWartosciWszystkichElementow</td>
            </tr>
            <tr>
                <td> Pozycjie Aktywne </td>
                <td> Liczba pozycji : @Model.Where(p => p.IsActive == true).Count() </td>
                <td> Wartość całk. = @ViewBag.SumaWartosciAktywnychPozycji </td>
            </tr>
            <tr>
                <td> Pozycje Nieaktywne </td>
                <td> Liczba pozycji : @Model.Where(p => p.IsActive == false).Count() </td>
                <td> Wartość całk. = @ViewBag.SumaWartosciNieaktywnychPozycj</td>
            </tr>
        </tbody>
            </table>

    }


</body>
</html>
